*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
#app {
  max-width: 440px;
  margin: 0 auto;
  color: black;
  height: 100vh;
  display: block;
}

.page {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* 标签部分 */
.tags {
  padding: 8px;
}
.tags .tag{
  font-size: 16px;
  font-weight: bold;
  padding: 4px 16px;
  display: inline-block;
  background: #efefef;
  border-radius: 6px;
  margin-right: 8px;
}
.tags .tag.active{
  background: #9b9b9b5c;
}
/* 编辑标签 */
.editTag{
  padding: 0 8px 12px;
}
.editTag span{
  border-bottom: 1px solid black;
}
/* 备注 */
.remarks {
  padding: 8px;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  background: #efefef;
}
.remarks input {
  border: none;
  background: none;
  outline: none;
  font-size: 16px;
  margin-left: 12px;
}

/* 选择栏 */
.selectBar{
  width: 100%;
  display: flex;
  font-size: 16px;
  background: #9b9b9b5c;
}
.selectBar span{
  flex: 1;
  padding: 12px 0;
  display: inline-block;
  text-align: center;
  position: relative;
}
.selectBar span.active::before{
  content: '';
  width: 50%;
  height: 4px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 25%;
}
.selectBar span:active{
  background: #efefef;
}
/* 数字输入框 */
.numInput{
  width: 100%;
}
.numInput input{
  width: 90%;
  border: none;
  outline: none;
  line-height: 48px;
  font-size: 24px;
  text-align:right;
  padding: 0 5%;
}
/* 键盘区域 */
.keyboard {
  display: flex;
  font-weight: bold;
  background: #9b9b9b5c;
  width: 100%;
  padding-bottom: 6px;
  font-size: 20px;
}
.keyboard >div >div:active{
  background: #efefef;
}
.numberLock{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.numberLock > div{
  background: #ffffff;
  padding: 20px 0;
  width: 30%;
  display: flex;
  margin: 0;
  margin-top: 6px;
  align-self: center;
  justify-content: space-around;
  align-items: center;
}
.numberLock div:nth-child(10){
  width: 62.5%;
}

.controlLock{
  width: 20%;
  margin-right: 6px;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}
.controlLock > div{
  padding: 20px 0;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}
.controlLock > div:first-child{
  margin-top: 0;
}
.controlLock > div:last-child{
  margin-top: 6px;
  flex-grow: 1;
}
/* 导航栏 */
.navBar{
  position: fixed;
  bottom: 0;
  max-width: 440px;
  width: 100%;
  display: flex;
  text-align: center;
}
.navBar .item{
  height: 48px;
  line-height: 48px;
  flex: 1;
  color: black;
  text-decoration: none;
  background: #ffffff;
}
.navBar .item a{
  text-decoration: none;
  color: black;
}
.navBar .item.active a{
  color: rgb(255, 214, 85);
}
