*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
/* #app {
  max-width: 440px;
  margin: 0 auto;
  color: black;
  height: 100vh;
  display: block;
}

.page {
  height: calc(100vh - 48px);
  display: flex;
  flex-direction: column;
}  */

/* 导航栏 */
.navBar{
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  display: flex;
  text-align: center;
  font-weight: bold;
  max-width: 440px;
  margin: 0 auto;
}
.navBar .item{
  height: 48px;
  line-height: 48px;
  flex: 1;
  color: black;
  text-decoration: none;
  background: #ffffff;
}
.navBar .item.active{
  color: rgb(255, 214, 85);
}
